.app-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .data-table th,
  .data-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .data-table th {
    background-color: #007bff;
    color: white;
  }
  
  .data-table td {
    cursor: pointer;
  }
  
  .data-table tr:hover {
    background-color: #f5f5f5;
  }
  
  button {
    margin: 15px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }
  
  .modal-content {
    background-color: #303030;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-height: 90%;
    overflow-y: auto;
    color: #fff;
  }
  
  .modal-close-button {
    background-color: red;
    color: white;
  }
  .image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-modal-content {
    width: 80%;
    height: 80%;
    background: white;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .image-modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Add this to your App.css */
.modal-content span {
    margin: 0 15px;
    font-weight: bold;
  }
  