.App {
  text-align: center;
  background-color: #222; /* Dark background color */
  color: #e6e6e6; /* Light colored text */
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #333; /* Darker background color for the table */
  color: #e6e6e6; /* Light colored text */
}

th, td {
  border: 1px solid #555; /* Darker border color */
  padding: 8px;
  color: #e6e6e6; /* Light colored text */
}

.pagination {
  margin-top: 50px;
  margin-left: 40%;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #444; /* Darker background for the popup */
  color: #e6e6e6; /* Light colored text */
  padding: 20px;
  border: 1px solid #555; /* Darker border color */
  z-index: 100;
}

.pagenumber {
  margin-top: 20px;
  color: #e6e6e6; /* Light colored text */
}
