.image-list {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}
  
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    width: 80vw;  /* 80% of the viewport width */
    height: 80vh;  /* 60% of the viewport height */
    background: white;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: auto;  /* Scrollable if content exceeds popup dimensions */
    position: relative;  /* Allows absolute positioning within this element */
}

.selected-image {
    border: 5px solid blue;
}

.image-item {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    vertical-align: top;
}

.fa.fa-pencil {
    display: block;
    font-size: 24px;
    margin-top: 10px;
    cursor: pointer;
}

.label {
    display: block; /* To ensure it takes the full width and the textarea appears below */
    margin-bottom: 10px; /* Some space between the label and textarea */
}
.prompt-section {
    margin-top: 5;
    margin-bottom: 5px;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
