body {
    background-color: #2c2c2c;
    color: #e1e1e1;
    font-family: Arial, sans-serif;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
}

.modal-content {
    background-color: #333;
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #444;
}

thead {
    background-color: #333;
}

table, th, td {
    border: 1px solid #555;
}

th, td {
    padding: 10px 15px;
    text-align: left;
}

tr:nth-child(odd) {  /* This selects odd rows */
    background-color: #555;
}

tr:nth-child(even) {  /* This selects even rows */
    background-color: #4a4a4a;  /* slightly darker than odd rows for contrast */
}

tr:hover {
    background-color: #666;
}

button {
    padding: 5px 15px;
    color: #e1e1e1;
    background-color: #555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #777;
}

a {
    text-decoration: none;
    color: #e1e1e1;
}

a:hover {
    text-decoration: underline;
}

i.fa {
    margin-right: 5px;
}

.loader {
    /* Whatever styles you have for your loader. Here's a sample one: */
    border: 4px solid #f3f3f3;
    border-top: 4px solid #555;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* You might want to adjust some of the color and style properties to better fit your application's branding and user experience, but this should give you a good starting point. */
